---
// Perform the redirection
return new Response(null, {
    status: 302,
    headers: {
      Location: "https://hnz.li/invalid",
    }})
---

<!DOCTYPE html>
<html>
<head>
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting you...</p>
</body>
</html>

