---
import PageLayout from "@layouts/PageLayout.astro";
import { SITE } from "@consts";

let errorPage = await fetch('https://error.husky.nz/404.htm').then(res => res.text());
---

<!DOCTYPE HTML public "-//W3O//DTD W3 HTML 3.0//EN">
<html>
<head>
    <title>404 Not Found - Legacy HuskyNZ Sites</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body bgcolor="#C0C0C0" text="#000000" link="#008000" vlink="#800080" alink="#FF0000">
    <center>
        <img width="1500" height="5" src="https://legacy.husky.nz/HLINE.gif"> 
        <table border="1" width="80%" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF">
            <tr>
                <td>
                    <center>
                        <font size="6" color="#FF0000"><b>404 - Page Not Found</b></font><br>
                        <br>
                        <img src="http://legacy.husky.nz/default.png" alt="HuskyNZ Logo" width="80" height="80"><br><br>
                        <font size="4" color="#0000FF">Oops! The page you're looking for doesn't exist.</font>
                        <br><br>
                        <marquee behavior="alternate" scrollamount="3">
                            <font size="4" color="#0000FF">Return to the main page and have fun!</font>
                        </marquee>
                        <br><br>
                        <font size="4"><a href="/"><b>Go Back to the Main Page</b></a></font>
                    </center>
                </td>
            </tr>
        </table>
        <img width="1500" height="5" src="https://legacy.husky.nz/HLINE.gif"> 
        <br><br>
        <img src="https://legacy.husky.nz/peter.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/hetzner.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/mswinntiis.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/html3_s1.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/netscape2.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/notepad2.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/mozilla3.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/iexplorer.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/bestviewedcomp.gif" alt="" width="88" height="31">
        <img src="https://legacy.husky.nz/javascript-zero.png" alt="" width="88" height="31">
        <br>
        <table border="0" width="80%">
            <tr>
                <td align="center">
                    <font size="2" color="#808080">&copy; 1999-2024 HuskyNZ. All Rights Reserved.<br>
                    <i>This page was last updated on 19/10/24</i></font><br>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>