<script>
import * as Sentry from "@sentry/astro";

Sentry.init({
  dsn: "https://4859ca7cbd7b4c1a9acb12755d7a4b21@o1267611.ingest.us.sentry.io/6454168",

  integrations: [
    
    Sentry.feedbackIntegration({
      // Additional SDK configuration goes in here, for example:
      colorScheme: "system",
      id: "SFeedback",
      showBranding: "false",
      enableScreenshot: "false",
      isEmailRequired: "true",
      isNameRequired: "true",
      formTitle: "Give Feedback",
      submitButtonLabel: "Submit Feedback",
      triggerLabel: "Feedback",
      messagePlaceholder: "Place your feedback here. How could I improve the site. What do you like?",
      emailPlaceholder: "something@something.something"
    }),
    Sentry.browserTracingIntegration()
  ],
  tracePropagationTargets: ["localhost", /^https:\/www\/\/husky\.nz\//],
});
</script>

<div id="SFeedback"></div>
