---
import { URL } from 'url';
import { predefinedUrls } from '@lib/rurl'; // Import your predefined URLs
// Perform the redirection
return new Response(null, {
    status: 302,
    headers: {
      Location: "/work",
    }})
---

<!DOCTYPE html>
<html>
<head>
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting you...</p>
</body>
</html>
